$enable-rounded: false;
$font-family-sans-serif: Roboto,sans-serif;
$headings-font-weight: 200;

//https://coolors.co/541388-d90368-efca08-f1e9da-2e294e
$primary:       #EFCA08;
$secondary:     #280426;
$secondary2:   #350e3d;
$pink:          #D90368;
$white: #FFFFF0;

$table-bg: lighten($color: $white, $amount: 4);

$link-color: $secondary;
$headings-margin-bottom: 1rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$resp-cut: map-get($grid-breakpoints,"sm");

table{
    a:hover{
        text-decoration: none;
        background-color: $primary;
    }
    thead, tbody{
        th, td{
            border-color: lighten($color: $white, $amount: 5)!important;
        }
    }
    thead{
        th{
            color: $pink;
        }
    }
}

#logo{
    width: 280px;
    height: auto;
    margin-bottom: 60px;
}

#front-header{
    background: $secondary2;
    padding: 90px 0;
    .content{
        color: #fff;
        h1{
            font-size: 37px;
            font-weight: 400;
        }
        .lead{
            margin-bottom: 60px;
            font-size: 30px;
        }
    }
    @media only screen and (min-width: $resp-cut) {
        padding: 0;
        position: relative;
        background-image: url("/bg.jpg");
        background-size: cover;
        background-position: center center;
        .cover{
            min-height: 720px;    
            background-color: rgba($secondary2, .7);
        }
        .content{
            position: absolute;
            left: 0;
            right: 0;
            bottom:0;
            top: 90px;
            padding-bottom: 180px;
            h1{
                font-size: 47px;
            }
        }
    }
}
#inner-header{
    background: $secondary2;
    color: #fff;
    text-align: center;
    @media only screen and (min-width: $resp-cut) {
        text-align: left;
    }
}

section{
  margin: 60px 0;
}

#presentation{
    p{
        font-size: 20px;
    }
    a{
        margin-top: 30px;
        color: $secondary2;
        font-size: 25px;
    }
    span{
        color: $secondary2;
        display: inline-block;
        background: $primary;
        padding: 5px 10px;
    }
}

#speakers .speaker{
    color: $secondary;
    margin-bottom: 30px;
    border: none;
    text-decoration: none;
    .image{
        min-height: 400px;
        background: #eee;
        background-size: cover;
    }
    h5{
        font-weight: 400;
        font-size: 26px;
        color: $pink;
        margin-bottom: 2px;
    }
}

#page{
    h1{
        margin-bottom: 45px;
        text-align: center;
    }
}

#stats{
    margin-top: 0px;
    color: $primary;
    background: rgba($pink, 1);
    text-align: center;
    div.col{
        display: table;
        padding: 0px 15px;
        span{
            display: table-cell;
            vertical-align: middle;
            font-size: 25px;
            font-weight: 200;
            height: 120px;
        }
    }
    @media only screen and (min-width: $resp-cut) {
        background: rgba($secondary2, 1);
    }
}

#about{
    margin: 0;
    padding: 30px 0 60px 0;
    background-color: lighten($color: $white, $amount: 5);
    a{
        color: $pink;
        .img-thumbnail{
            border-color: $pink;
            background-color: #fff;
            margin-bottom: 30px;
        }
    }
}

#sponsors {
    padding: 30px 0;
    text-align: center;
    margin: 0;
    h3{
        margin-top: 2em;
        font-weight: bold;
    }
    .item{
        display: block;
        margin: 2em 1.5em;
        img{
            max-width: 100%;
        }
    }
    @media only screen and (min-width: $resp-cut) {
        .item{
            display: inline-block;
            margin: 2em 1.5em;
        }
    }
}

#where{
    margin-bottom: 0;
    .content_wrap{
        position: relative;
        .content{
            display: none;
        }
    }
    @media only screen and (min-width: $resp-cut) {
    .content_wrap{
        .content{
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 60px;
            .card{
                background-color: #fff;
                a{
                    color: $pink;
                }
            }
            .address{
                margin: 15px 0 ;
            }
        }
    }
    }
}

#credit{
    padding: 30px 0;
    font-size: 14px;
    text-align: center;
    a{
        color: $pink;
    }
}

#speaker-detail{
    margin-bottom: 90px;
    h1{
        color: $pink;
    }
    .block{
        font-size: 18px;
        line-height: 24px;
        margin: 45px 0 60px 0;
    }
}

#track{
    a{
        color: $pink;
    }
}

.hidden {
    display: none;
}

.container{
    #dossier{
        a {
            color: $white;
            font-weight: bold;
        }
        a:hover {
            color: $primary;
            font-weight: bold;
        }
    }
    #hashtag {
        a {
            color: $white;
            font-weight: bold;
        }
        a:hover {
            color: $primary;
            font-weight: bold;
        }
        span{
            color: $secondary2;
            display: inline-block;
            background: $primary;
            padding: 5px 10px;
        }
    }
}

@import "../../node_modules/bootstrap/scss/bootstrap";

